* {
  font-family: "Roboto Condensed", sans-serif;
}

#logo-img {
  width: 45px;
  margin-left: 30px;
}

#breadcrumb {
  text-decoration: none;
}

tr:hover {
  background-color: khaki;
}

.odd {
  background-color: #ccc9c9;
}

.mobile-hidden{
    display:none;
}

/*Responsive rules - Breakpoints*/
@media (min-width: 576px) and (max-width: 767px) {
    .mobile-hidden{
        display: block;
    }
    
}